<%= render 'movies/header' %>
<table>
  <tr>
    <% if @movies.empty? %>
      <td><h3>No results found for "<%= @query %>"</h3></td>
    <% else %>
      <td><h3>Results for "<%= @query %>":</h3></td>
    <% end %>
    <td class = "search"><%= render 'movies/search_form' %></td>
  </tr>
</table>
<%= render 'movies/movies' %>