<% flash.each do |key, value| %>
  <div id = "successfully_added">
    <h3><%= value %></h3>
  </div>
<% end %>

<h3><%= @story.title %></h3>
<p><strong>Upvotes:</strong> <%= @story.upvotes %></p>
<p><strong>Category:</strong> <%= @story.category %></p>
<p><strong>Link to full story:</strong> <%= link_to "#{@story.link}", @story.link %></p>
