<h1> Search Results </h1>
<%= @movies.each do |movie| %> 
 <p> <%= movie.title %> - <%= movie.description %> - <%= movie.year_released %> </p>
  <% end %>

  <p><%= link_to "Home", root_path %> </p> 
 